.App{margin-top: 50px; width:100vw; margin-bottom: 50px; display:flex; flex-direction: column; align-items: center;}
header h1{color:darkblue;}

.image_hold{margin-top:20px; display:flex; flex-direction: column; align-items: center;}
.image_hold .upimage{margin-top:30px; width:40%;}

.image_btn{margin-top:70px; width: 300px; height:50px; background-color:skyblue; border-radius:50px; display:flex; align-items: center; justify-content: center;}
.image_in{font-weight: 700; color:white;}
#file_load{display:none;}

.answer_wrap{margin-top:80px; display:flex; flex-direction: column; align-items: center; justify-content: center;}

.start_btn{outline:none; border:none; margin-top:70px; width: 300px; height:50px; background-color:orange; font-size:18px; font-weight: 700; color:white; border-radius:50px;}

.btn_wrap{width:450px; margin-top:70px; display:flex; justify-content: space-between;}
.true_btn{outline:none; border:none;  width: 200px; height:50px; background-color:lightcoral; font-size:18px; font-weight: 700; color:white; border-radius:50px;}
.false_btn{outline:none; border:none;  width: 200px; height:50px; background-color:lightseagreen; font-size:18px; font-weight: 700; color:white; border-radius:50px;}


.end_wrap {margin-top: 70px; text-align: center;}
.end_wrap h1{font-size: 150px;}